.city-box {
    position: absolute;
    background: #ffff;
    border-radius: 5px;
    z-index: 50;
    top: 60px;
    width: 380px;
    max-height: 300px;
    visibility: hidden;
    transform: translateY(20px);
    opacity: 0;
    // transition: all .3s ease;  

    &.isVisable{
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        transition: all .3s ease; 
    } 
}
.city-box_conteiner.loading{
    position: relative;
    &::after{
        content: 'Loading....';
        top: 0;
        left: 0;
        position: absolute;
    
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.8);
    }
}
.city-main{
    padding: 14px 14px 0px;
    overflow-y: scroll;
    height: 300px;
    &::-webkit-scrollbar {
        width: 7px;
        background-color: #ffff;
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(241, 241, 241, 0.5);
    }

}
.city-search {
    margin-bottom: 10px;
    input{
        width: 100%;
        padding: 10px;
        background: none;
        border-radius: 100px;
        border: 1px solid  #DFE9F5;;
    }
   
}
.city-selected {
    margin: 15px 0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    span{
        display: none;
        &._active{
            display: inline;
            padding: 10px;
            border-radius: 49px;
            background-color: #0656B4;
            font-family: 'Formular';
            font-size: 12px;
            line-height: 133%;
            letter-spacing: 2px;
            color: #FFFFFF;
            margin: 5px;
            }
            &.close{
                display: inline;
            &:first-child{
                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    background: #D8D8D8;
                    bottom: -10px;
                    right: 0;
                }
            }
        }
    }
    
   
}
.allCity {
    display: flex;
    flex-direction: column;
    color: #222;
    font-size: 14px;
    line-height: 22px;
    
}
.city-name {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 133% ;
    letter-spacing: 0.03em;
    color: #767676;
    span{
        padding: 10px 0;
        display: block;
        width: 100%;
        height: 100%;
    }
    &:hover{
        background: #F1F1F1;
    }
    ._active{
    }

}
.city-footer{
    display: flex;
}
    